<?xml version="1.0"?>
<opml version="1.1">
    <head>
        <title><%= site.title %></title>
        <dateCreated><%= site.updated.to_datetime.rfc3339 %></dateCreated>
        <dateModified><%= site.updated.to_datetime.rfc3339 %></dateModified>
        <ownerName>The Fedora Project</ownerName>
        <ownerEmail>fedora-join@lists.fedoraproject.org</ownerEmail>
    </head>

    <body>
        <% site.feeds.each do |feed| %>
            <outline text="<%= CGI.escapeHTML(feed.title) %>" xmlUrl="<% if feed.url %><%= CGI.escapeHTML(feed.url) %><% else %><%= CGI.escapeHTML(feed.feed) %><% end %>"/>
        <% end %>
    </body>
</opml>
