<?xml version="1.0"?>
<rdf:RDF
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:foaf="http://xmlns.com/foaf/0.1/"
    xmlns:content="http://purl.org/rss/1.0/modules/content/"
    xmlns="http://purl.org/rss/1.0/"
    >

<channel rdf:about="<%= CGI.escapeHTML(site.url) %>">
    <title><%= CGI.escapeHTML(site.title) %></title>
    <link><%= CGI.escapeHTML(site.url) %></link>
    <description><%= CGI.escapeHTML(site.title) %><% if site.url %>: <%= CGI.escapeHTML(site.url) %><% end %></description>
    <items>
        <rdf:Seq>
            <% items = site.items.latest.limit(24)
            ItemCursor.new( items ).each do |item,new_date,new_feed| %>
            <rdf:li rdf:resource="<%= CGI.escapeHTML(item.guid) %>" />
            <% end %>
        </rdf:Seq>
    </items>
</channel>

<% items = site.items.latest.limit(24)
ItemCursor.new( items ).each do |item,new_date,new_feed| %>
<item rdf:about="<%= CGI.escapeHTML(item.link) %>">
<title><%= CGI.escapeHTML(item.feed.name) %><% if item.title %>: <%= CGI.escapeHTML(item.title) %><% end %></title>
<link><%= CGI.escapeHTML(item.link) %></link>
<content:encoded><%= CGI.escapeHTML(item.content) %></content:encoded>
<dc:date><%= CGI.escapeHTML(item.published.to_datetime.rfc3339) %></dc:date>
</item>
<% end %>

</rdf:RDF>
