<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <atom:link href="<%= site.url %>/rss20.xml" rel="self" type="application/rss+xml" />
        <title><%= site.title %></title>
        <link><%= site.url %>/people</link>
        <language>en</language>
        <description><%= site.title %>: <%= site.url %></description>

        <%
        items = site.items.latest.limit(24)
        ItemCursor.new( items ).each do |item, new_date, new_feed|
        %>
        <item>
            <title><%= item.feed.title %><% if item.name %>: <%= item.name %><% end %></title>
            <guid isPermaLink="false"><%= item.guid %></guid>
            <link><%= item.link %></link>

            <% if item.content %>
            <description>
                <% if item.feed.avatar %>
                &lt;img src=&quot;<%= CGI.escapeHTML(item.feed.avatar) %>&quot; alt=&quot;<%= CGI.escapeHTML(item.feed.name)%>&#39;s avatar&quot; style=&quot;float: right;&quot;&gt;
                <% end %>
                <%= CGI.escapeHTML(item.content) %>
            </description>
            <% end %>

            <pubDate><%= item.published %></pubDate>
        </item>
        <% end %>

    </channel>
</rss>
